$orange: #FF6642;
$blue: #100E37;
$beige: #FFF9EB;
$white: #FFF;
$black: #131238;


@font-face {
    font-family: BrdBld;
    src: url('../fonts/Brandon_bld.otf');
}

@font-face {
    font-family: BrdMed;
    src: url('../fonts/Brandon_med.otf');
}



